.container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-direction: column;
}

.CardText {
  font-size: 1.2rem;
  color: rgb(226, 226, 226);
  font-weight: bold;
  text-align: center;
}

.CardButton {
  position: absolute;
  top: 80%;
  border: none;
  color: rgba(0, 0, 0, 0.6);
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: bold;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.212);
  transition: 0.2s;
}

.CardButton:hover {
  color: rgba(0, 0, 0, 0.9);
  box-shadow: 1px 1px 40px 1px rgba(0, 0, 0, 0.4);
  transform: scale(102%);
}
