.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* .Card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  margin: 50px;
  height: 40%;
  border-radius: 10px;
  background-color: white;
  flex-direction: column;
} */

.CardImage {
  object-fit: contain;
  margin: 0 auto;
  padding: 0;
}

.CardText {
  font-size: 2rem;
  font-weight: bolder;
  color: white;
  text-shadow: 1px 1px 10px rgb(0, 0, 0);
}

.CardButton {
  border: none;
  width: 100%;
  color: rgba(0, 0, 0, 0.6);
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.212);
  transition: 0.2s;
}

.CardButton:hover {
  color: rgba(0, 0, 0, 0.9);
  box-shadow: 1px 1px 40px 1px rgba(0, 0, 0, 0.4);
  transform: scale(102%);
}
